.container{
    margin: 0 auto;
}

.container > .center{
    width: 400px;
    margin: auto;
    padding: 25px 0;
}

.container .center > form{
    position: relative;
    left: 50%;
    transform: translateX(-25%);
}

.mt-20{
    margin-top: 20px;
}
