.container{
    width:80%;
    margin:auto;
}

.text-center{
    text-align:center;
}

.gallery-wrapper{
    display : grid;
    grid-template-columns : repeat(3,1fr);
    grid-auto-rows: 300px;
}

.gallery-wrapper .item{
    border : 1px solid #eee;
    padding : 10px 5px;
}

.img{
    width : 100%;
    height : 200px;
    object-fit : contain;
}