.theme-dark{
    background: #000;
    transition: background 0.5s;
}

.theme-dark h1,
.theme-dark p{
    color: #fff;
}

.theme-light{
    background: #fffefe;
    transition: background 0.5s;
}

.theme-light h1,
.theme-light p{
    color: #000;
}